.scrollBarNone {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer */
  }
  
.scrollBarNone::-webkit-scrollbar {
    display: none;  /* Chrome, Safari */
  }